@{
    ViewBag.Title = "Home Page";
}


<address>
    <br />
    <br />
    <abbr title="Phone">سیستم ورود و خروج وب کده</abbr>
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:webkadeshams@gmail.com">webkadeshams@gmailexample.com</a><br />
</address>
